html{
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    text-align: center;
}
.country{
    border-radius: 10px;
    padding: 10px 20px;
    font-size: medium;
    background-color: rgb(166, 36, 62);
    border: none;
    color: white;
    cursor: pointer;
}
.country:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.disabled{
    background-color: rgba(181, 92, 110, 0.871);
    cursor: wait;
}